{% extends "layout2.html" %}

{% block content %}
    <header class="masthead">
            <div id="container-all" class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center bg-dark" id="index-container" style="overflow: auto; min-height: 0; flex-grow: 1;">
                    <div class="col-lg-10" style="padding-top: 60px; padding-bottom: 10px;">
                        <div class="check-movies">
                            <h3 style="color: white; text-align: left;">Genre</h3>
                            <table style="color: white">
                                <tr>
                                <form action="." method="post">
                                    <input type="checkbox" id="all-movies" name="all-movies">
                                    <label for="all-movies" style="color: white"><br>All</label>
                                    {% for g in movie_genres %}
                                        <td>
                                            <input type="checkbox" id={{ g }} name="checkbox" value="{{ g }}" class="chkvalues">
                                            {{ g }}
                                        </td>
                                    {% endfor %}
                                {% csrf_token %}
                                <td>
                                    <input type="submit" id="submit" name="filter" value="Filter">
                                </td>
                                </form>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-10" style="padding-top: 40px; padding-bottom: 20px; display: flex; justify-content: center;">
                            <table style="align-self: center;">
                                <tr class="space">
                                    {{ html | safe }}
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}